* {
  margin: 0;
  box-sizing: border-box;
}
.head {
  text-align: center;
}
.head p {
  font-size: 16px;
}
.grid-items img {
  width: 100%;
}
.grid-items .date {
  color: rgba(26, 4, 4, 0.6);
  font-size: 12px;
}
.grid-items .parag {
  font-size: 16px;
}
